# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow integrates njsscan with GitHub's Code Scanning feature
# nodejsscan is a static security code scanner that finds insecure code patterns in your Node.js applications

name: SmartCalendar
on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]
  schedule:
    - cron: '28 15 * * 2'

permissions:
  contents: read

jobs:
  buidling:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    name: njsscan code scanning
    strategy:
      matrix:
        node-version: [22.x]
    steps:
    - name: Checkout the code
      uses: actions/checkout@v4
    - name: use Node.js ${{ matrix.node-version}}
      id: useNode
      uses: actions/setup-node@v4
      with:
        args: '. --sarif --output results.sarif || true'
        node-version: ${{ matrix.node-version}}
        cache: 'npm'
    - run: npm ci
    - run : npm install --global yarn    

